body {
	padding-left: 20px;
	font-family: 'PT Serif', serif;
}

.buttons {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border: 1px black solid;
}

p {
	margin-top: 5px;
	margin-bottom: 20px;
}

.reflection {
	width: 600px;
	margin-bottom: 20px; 
	margin-top: 40px;
}

div {
	margin-left: 30px;
}

img {
	padding-bottom: 0px;
	width: 300px;
}

.indent {
	margin-left: 60px;
}