#t, #e, #r, #a {
	height: 150px;
	width: 100px;
	display: inline-block;
	float: left;
	padding-right: 20px;
	padding-left: 10px;
}

.first {
	margin-left: 40px;
}

.container {
	width: 50%;
	height: 50%;
	margin: auto;
	margin-top: 250px;
}

.left {
	height: 135px;
	width: 13px;
	margin-top: 7px;
	border: 1px solid black;
	transform: skewY(-45deg);
	float: left;
}

.main {
	height: 135px;
	width: 80px;
	margin-left: -1px;
	border: 1px solid black;
	float: left;
}

.bottom {
	height: 13px;
	width: 80px;
	margin-left: -89px;
	margin-top: 136px;
	border: 1px solid black;
	transform: skewX(-45deg);
	float: left;
}

#t .big-box {
	width: 13px;
	height: 65px;
	margin-left: -82px;
	margin-top: 70px;
	border: 1px solid black;
	float: left;
}

#t .big-box-2 {
	width: 13px;
	height: 65px;
	margin-left: -15px;
	margin-top: 70px;
	border: 1px solid black;
	float: left;
}

#e .big-box {
	width: 13px;
	height: 65px;
	margin-left: -41px;
	margin-top: 12px;
	border: 1px solid black;
	transform: rotate(90deg);
	float: left;
}

#e .big-box-2 {
	width: 13px;
	height: 65px;
	margin-left: -41px;
	margin-top: 62px;
	border: 1px solid black;
	transform: rotate(90deg);
	float: left;
}

#r .small-box {
	width: 13px;
	height: 30px;
	margin-left: -30px;
	margin-top: 24px;
	border: 1px solid black;
	float: left;
}

#r .small-box-2 {
	width: 13px;
	height: 30px;
	margin-left: -47px;
	margin-top: 105px;
	border: 1px solid black;
	float: left;
}

#a .big-box {
	width: 13px;
	height: 62px;
	margin-left: -50px;
	margin-top: 73px;
	border: 1px solid black;
	float: left;
}

#a .small-box {
	width: 13px;
	height: 30px;
	margin-left: -50px;
	margin-top: 24px;
	border: 1px solid black;
	float: left;
}

.buttons {
	color: #000000;
	text-decoration: none;
	padding: 5px;
	border: 1px black solid;
}

p {
	text-align: center;
}

.buttons:hover {
	background-color: lightgray;
}