body {
	transition: background  1.5s;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: black;
}

p {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-style: italic;
	line-height: 1.4em;
}

.vertical-bar {
	height: 100vh;
	width: 2px;
	position: absolute;
	background-color: black;
	left: 10px;
	transition: background  1.5s;
}

.horizontal-bar {
	height: 2px;
	width: 100vw;
	position: absolute;
	background-color: black;
	top: 10px;
	transition: background  1.5s;
}

.label {
	position: absolute;
	font-size: 10px;
	width: 70px;
	transition: color  1.5s;
}

.ver-scale {
	position: absolute;
	background-color: black;
	width: 15px;
	height: 2px;
	transition: background  1.5s;
}

.ver-scale-1 {
	top: 160px;
	left: 5px;
}

.ver-1 {
	top: 155px;
	left: 30px;
}

.ver-scale-2 {
	top: 320px;
	left: 5px;
}

.ver-2 {
	top: 315px;
	left: 30px;
}

.ver-scale-3 {
	top: 480px;
	left: 5px;
}

.ver-3 {
	top: 475px;
	left: 30px;
}

.ver-scale-4 {
	top: 640px;
	left: 5px;
}

.ver-4 {
	top: 630px;
	left: 30px;
}

.hor-scale {
	position: absolute;
	background-color: black;
	height: 15px;
	width: 2px;
	transition: background  1.5s;
}

.hor-scale-1 {
	top: 5px;
	left: 400px;
}

.hor-1 {
	top: 25px;
	left: 370px;
}

.hor-scale-2 {
	top: 5px;
	left: 530px;
}

.hor-2 {
	top: 25px;
	left: 495px;
	text-align: center;
}

.hor-scale-3 {
	top: 5px;
	left: 660px;
}

.hor-3 {
	top: 25px;
	left: 625px;
	text-align: center;
}

.hor-scale-4 {
	top: 5px;
	left: 790px;
}

.hor-4 {
	top: 25px;
	left: 755px;
	text-align: center;
}

.hor-scale-5 {
	top: 5px;
	left: 920px;
}

.hor-5 {
	top: 25px;
	left: 885px;
	text-align: center;
}

.hor-scale-6 {
	top: 5px;
	left: 1050px;
}

.hor-6 {
	top: 25px;
	left: 1015px;
	text-align: center;
}

.hor-scale-7 {
	top: 5px;
	left: 1180px;
}

.hor-7 {
	top: 25px;
	left: 1145px;
	text-align: center;
}

.hor-scale-8 {
	top: 5px;
	left: 1310px;
}

.hor-8 {
	top: 25px;
	left: 1275px;
	text-align: center;
}


.container{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.info {
	font-size: 4vw;
	transition: color  1.5s;
	transition: opacity 1.5s;
	opacity: 0;
	letter-spacing: 0.5vw;
	position: absolute;
}

.info-div {
	width: 68vw;
	/*position: absolute;*/
	top: 15vw;
	left: 15vw;
}

.crime {
	top: 15vw;
	left: 15vw;
	border-bottom: 2px solid white;
	display: inline;
}

.sentence {
	top: 21vw;
	left: 15vw;
	width: 70vw;
	display: inline;
	/*padding-left: 2vw;*/
}

.link {
	top: 37vw;
	left: 15vw;
	padding: 0.8vw 1.6vw;
	border: 2px solid white;
	position: absolute;
}

.one, .four, .five, .ten {
	color: black;
}

.two, .three, .six, .seven, .eight, .nine {
	color: white;
}

/*sexual assault*/
@media (max-width: 1440px) and (max-height: 800px) { 
	body {
		background-color: black;
	}

	.one, .two {
		opacity: 0;
	}

	.three {
		opacity: 1;
	}

	.two.link, .eight.link, .seven.link, .six.link {
		z-index: 0;
	}

	.three.link {
		z-index: 3;
	}

	a {
		color: white;
	}

	.label {
		color: white;
	}

	.vertical-bar {
		background-color: white;
	}

	.horizontal-bar {
		background-color: white;
	}

	.ver-scale {
		background-color: white;
	}

	.hor-scale {
		background-color: white;
	}

	.link:hover {
		background-color: white;
		color: black;
		transition: background-color 1s ease;
	}
}

@media (max-width: 1350px) and (max-height: 800px){
	.three {
		opacity: 0;
		display: none;
	}

	.two {
		opacity: 1;
	}

	.three.link, .four.link, .nine.link {
		z-index: 0;
	}

	.two.link {
		z-index: 3;
	}

}

@media (max-width: 1050px) and (max-height: 800px) { 
	body {
		background-color: white;
	}

	.two {
		opacity: 0;
	}

	.four {
		opacity: 1;
	}

	.two.link, .five.link, .nine.link, .three.link {
		z-index: 0;
	}

	.crime {
		border-bottom: 2px solid black;
	}

	a {
		color: black;
	}

	.label {
		color: black;
	}

	.vertical-bar {
		background-color: black;
	}

	.horizontal-bar {
		background-color: black;
	}

	.ver-scale {
		background-color: black;
	}

	.hor-scale {
		background-color: black;
	}

	.link {
		border: 2px solid black;
	}

	.link:hover {
		background-color: black;
		color: white;
		transition: background-color 1s ease;
	}

	.two .link {
		display: none;
	}

	.four.sentence {
		top: 33vw;
		left: 15vw;
		width: 70vw;
	}

	.four.link {
		top: 48vw;
		left: 15vw;
		padding: 0.8vw 1.6vw;
		z-index: 3;
	}
}

@media (max-width: 920px) and (max-height: 800px){
	.four {
		opacity: 0;
		display: none;
	}

	.five {
		opacity: 1;
	}

	.one.link, .four.link, .nine.link {
		z-index: 0;
	}

	.five.link {
		top: 43vw;
		z-index: 3;
	}

	.info {
		left: 138px;
	}
}

@media (max-width: 530px) and (max-height: 800px){
	.five {
		opacity: 0;
		display: none;
	}

	.one {
		opacity: 1;
	}

	.ten.link, .five.link, .nine.link {
		z-index: 0;
	}

	.one.link {
		z-index: 3;
	}

	.one.sentence {
		top: 33vw;
		/*left: 15vw;*/
		width: 70vw;
	}

	.one.link {
		top: 48vw;
		/*left: 15vw;*/
		padding: 0.8vw 1.6vw;
		z-index: 3;
	}
}

/*drugs*/
@media (max-width: 1440px) and (max-height: 640px) { 
	body {
		background-color: black;
	}

	.one, .two, .three, .four, .five, .seven, .eight, .nine, .ten {
		opacity: 0;
	}

	.six {
		opacity: 1;
	}

	.seven.link, .eleven.link, .three.link {
		z-index: 0;
	}

	.six.link {
		z-index: 3;
	}

	a {
		color: white;
	}

	.label {
		color: white;
	}

	.vertical-bar {
		background-color: white;
	}

	.horizontal-bar {
		background-color: white;
	}

	.ver-scale {
		background-color: white;
	}

	.hor-scale {
		background-color: white;
	}

	.link:hover {
		background-color: white;
		color: black;
		transition: background-color 1s ease;
	}
}

@media (max-width: 1400px) and (max-height: 640px) {
	.one, .two, .three, .four, .five, .six, .eight, .nine, .ten {
		opacity: 0;
	}

	.seven {
		opacity: 1;
	}

	.six.link, .eight.link, .eleven.link, .three.link {
		z-index: 0;
	}

	.seven.link {
		z-index: 3;
	}
}


@media (max-width: 1350px) and (max-height: 640px) {
	.one, .two, .three, .four, .five, .six, .seven, .nine, .ten {
		opacity: 0;
	}

	.eight {
		opacity: 1;
	}

	.seven.link, .nine.link, .eleven.link, .three.link {
		z-index: 0;
	}

	.eight.link {
		z-index: 3;
	}
}

@media (max-width: 1300px) and (max-height: 640px) {
	.one, .two, .three, .four, .five, .six, .seven, .eight, .ten {
		opacity: 0;
	}

	.nine {
		opacity: 1;
	}

	.eight.link, .ten.link, .two.link, .four.link, .five.link, .one.link, .twelve.link, .thirteen.link, .fourteen.link {
		z-index: 0;
	}

	.nine.link {
		z-index: 2;
	}

	.link {
		border: 2px solid white;
	}
}

@media (max-width: 530px) and (max-height: 640px) { 
	body {
		background-color: white;
	}

	.one, .two, .three, .four, .five, .six, .seven, .eight, .nine {
		opacity: 0;
	}

	.ten {
		opacity: 1;
	}

	.nine.link, .fifteen.link, .fourteen.link, .one.link {
		z-index: 0;
	}

	.ten.link {
		z-index: 3;
	}

	a {
		color: black;
	}

	.label {
		color: black;
	}

	.vertical-bar {
		background-color: black;
	}

	.horizontal-bar {
		background-color: black;
	}

	.ver-scale {
		background-color: black;
	}

	.hor-scale {
		background-color: black;
	}

	.link {
		border: 2px solid black;
	}

	.link:hover {
		background-color: black;
		color: white;
		transition: background-color 1s ease;
	}

	.two .link {
		display: none;
	}

	.four.sentence {
		top: 33vw;
		left: 15vw;
		width: 70vw;
	}

	.four.link {
		top: 48vw;
		left: 15vw;
		padding: 0.8vw 1.6vw;
	}
}
